* {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    outline: none;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    color: #DADADADA;
    font-size: 18px;
    overflow-x: hidden;
}



input {
    color: #DADADA;
}

a {
    color: #DADADA;
    text-decoration: none;
    font-size: 18px;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 350;
}

.bg {
    background-color: #111;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.name {
    width: 610px;
}

.phone {
    width: 485px;
}



#header {
    display: flex;
    align-items: center;
    background-color: #111;
    padding: 5px 15px 5px 15px;
    position: fixed;
    z-index: 1;
    top: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.menu {
    margin-left: 490px;
}

.menu ul {
    margin: 0 auto;
    padding: 0;
}

.menu li {
    list-style-type: none;
    display: inline;
    margin: 0 0 0 44px;
}


#cover {
    height: 760px;
    background-image: url(./pic/jokir.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.vanish-bg {
    height: 763px;
    background-color: rgba(17, 17, 17, 0.5);
    margin-top: 85px;
    padding-top: 100px;
}

.cover-content h1 {
    font-size: 48px;
    margin-bottom: 40px;
    max-width: 610px;
}

.cover-content input {
    display: block;
    background-color: rgba(17, 17, 17, 0.5);
    height: 75px;
    border: 1px solid #909090;
    border-radius: 50px;
    margin-bottom: 20px;
    padding-left: 40px;

}

.cover-content button {
    display: block;
    height: 60px;
    width: 290px;
    color: #fff;
    background-color: #00426A;
    border: 3px solid #0599A9;
    border-radius: 50px;
    font-weight: lighter;
}

.cover-content button:hover {
    background-color: #22727A;
    border: 3px solid #438AB5;
}

.cover-content button:active {
    background-color: #00304E;
    border: 3px solid #438AB5;
}


#about-us {
    margin: 85px 0 85px 0;
}

.us-content {
    display: flex;
}

.us-content img {
    margin-right: 20px;
}

.vanish-us-bg {
    opacity: 0.8;
}


.block-description p {
    font-weight: 300;
}

.cards {
    column-count: 3;
}

.card {
    width: 365px;
}

.card img {
    margin-bottom: 15px;
    opacity: 0.6;
}

.product-name{
    margin: 0 0 15px 0;
}

.product-info {
    display: flex;
}

.product-cost {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 15px;
}

.card-description p {
    font-weight: 300;
    margin: 0 0 0 0;
}

.card button {
    margin-top: 40px;
    width: 364px;
    height: 55px;
    border-radius: 15px;
    border: 0 solid #008E11;
    background-color: #008E11;
    color: #DADADA;
}

.card button:hover {
    border: 0 solid #008E11;
    background-color: #16a527;
}

.card button:active {
    border: 0 solid #008E11;
    background-color: #00750e;
}


#form {
    height: 626px;
    background-image: url(./pic/Hackers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 85px;
    margin-bottom: 85px;
}

.vanish-form-bg {
    height: 626px;
    width: 1920px;
    background-color: rgba(17, 17, 17, 0.6);
    padding-top: 130px;
}

#form h2 {
    width: 610px;
    margin-top: 0;
    margin-bottom: 50px;
}

#form input {
    display: block;
    background-color: rgba(17, 17, 17, 0.5);
    height: 70px;
    border: 1px solid #909090;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 40px;
}

#form button {
    display: block;
    height: 60px;
    width: 290px;
    color: #fff;
    background-color: #00426A;
    border: 3px solid #0599A9;
    border-radius: 20px;
    font-weight: lighter;
}

#form button:hover {
    background-color: #22727A;
    border: 3px solid #438AB5;
}

#form button:active {
    background-color: #00304E;
    border: 3px solid #438AB5;
}


.blog-info {
    margin-bottom: 40px;
}

.blog-cards {
    columns: 2;
    
}

.blog-card {
    display: flex;
    flex-direction: column;
    width: 555px;
    height: 511px;
    margin-bottom: 50px;
}

.blog-card-img {
    opacity: 0.7;
}

.blog-card-img img{
    width: 555px;
}

.blog-card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.blog-card-info p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog-card-info button {
    display: block;
    height: 55px;
    width: 365px;
    color: #fff;
    background-color: #1E1E1E;
    border: 2px solid #484848;
    border-radius: 20px;
    font-weight: 180;
    margin-bottom: auto;
}

.blog-card-info button:hover {
    background-color: #1A1A1A;
    border: 2px solid #6B6B6B;
}

.blog-card-info button:active {
    background-color: #1A1A1A;
    border: 2px solid #313131;
}


#reg {
    height: 760px;
    background-image: url(./pic/reg_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 85px;
}


footer .container {
    display: flex;
}

.footer-info {
    display: flex;
    width: 1090px;
}

.contacts {
    margin-left: 60px;
}

.contacts p {
    margin-top: 0;
}

.social-goups {
    margin-left: auto;
}

.social-goups p {
    margin-top: 0;
}